* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  //general reset
}

html {
  //This re-defines 1rem
  font-size: 62.5%; //1rem = 10px
  // font-size: 100%; //1rem = 10px
}

body {
  box-sizing: border-box;
  //changes calculation behavior

  font-family: sans-serif;
}

.App {
  display: flex;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;

  font-size: 2.5rem; //DEV

  height: 100vh;
  background: rgb(25, 25, 28);
}
